body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 300px;
    padding: 20px;
    background-color: #333333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #555555;
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #45a049;
}
